ELASTIC_URL=http://elasticsearch:9200
KIBANA_URL=http://kibana:5601
THEHIVE_URL=http://thehive:9000
THEHIVE_USERNAME=admin@thehive.local
THEHIVE_PASSWORD=
CORTEX_URL=http://cortex:9001
KIBANA_API_KEY=
THEHIVE_API_KEY=
CORTEX_API_KEY=
